node_modules
.medusa
.git
.hg
.svn
.env
.env.*
!.env.template
!.env.example
*.md
!README.md
.vscode
.idea
coverage
.nyc_output
dist
*.log
.DS_Store
docker-compose*.yml
.devcontainer
.opencode
.omo
agents
