STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=change-me
RABBITMQ_URL=amqp://admin:change-me@rabbitmq:5672
RABBITMQ_PREFETCH=10
RABBITMQ_MAX_RETRIES=3
RABBITMQ_RETRY_DELAY_MS=15000
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=
DB_NAME=medusa-v2
RESEND_API_KEY=your-resend-api-key-here
