services:
  postgres:
    image: postgres:18
    container_name: postgres-medusa
    environment:
      POSTGRES_USER: medusa-starter
      POSTGRES_PASSWORD: medusa-password
      POSTGRES_DB: medusa-starter
    volumes:
      - postgres-data:/var/lib/postgresql
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "medusa-starter"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - medusa-network


  redis:
    image: redis:8
    volumes:
      - cache-backend-data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - medusa-network


  meilisearch:
    image: getmeili/meilisearch:latest
    volumes:
      - meilisearch-data:/data.ms
    environment:
      - MEILI_MASTER_KEY=ms
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:7700"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - medusa-network

  backend-server:
    container_name: medusa-app
    image: urgosxd7/medusa-app:latest
    volumes:
      - backend-server-data:/data
    expose:
      - "9000"
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    env_file:
      - .env
    environment:
      NODE_ENV: production
      REDIS_URL: redis://redis:6379
      CACHE_REDIS_URL: redis://redis:6379
      EVENTS_REDIS_URL: redis://redis:6379
      WE_REDIS_URL: redis://redis:6379
      LOCKING_REDIS_URL: redis://redis:6379
      DATABASE_URL: postgres://medusa-starter:medusa-password@postgres-medusa:5432/medusa-starter
      POSTGRES_URL: postgres://medusa-starter:medusa-password@postgres-medusa:5432/medusa-starter
      MEDUSA_CREATE_ADMIN_USER: true
      MEDUSA_ADMIN_EMAIL: admin@medusa-test.com
      MEDUSA_ADMIN_PASSWORD: supersecret
      MEILISEARCH_HOST: http://meilisearch:7700
      MEILISEARCH_API_KEY: ms
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/health"]
      interval: 10s
      timeout: 5s
      start_period: 10s
      retries: 5
    networks:
      - medusa-network
      - red-compartida
      - proxiable



volumes:
  postgres-data:
  backend-server-data:
  cache-backend-data:
  meilisearch-data:

networks:
  proxiable:
    external: true
    name: proxiable # Asegúrate de que este nombre coincida exactamente con tu red externa
  medusa-network:
    driver: bridge
  red-compartida:
    external: true      # <--- ¡ESTO ES LO IMPORTANTE!
    name: red-compartida # Asegura que busque el nombre exacto
