services:
  postgres:
    image: postgres:18
    environment:
      POSTGRES_USER: medusa-starter
      POSTGRES_PASSWORD: medusa-password
      POSTGRES_DB: medusa-starter
    ports:
      - 5436:5432
    volumes:
      - postgres-data:/var/lib/postgresql
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "medusa-starter"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:8
    ports:
      - 6379:6379
    volumes:
      - cache-backend-data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  meilisearch:
    image: getmeili/meilisearch:latest
    ports:
      - 7700:7700
    volumes:
      - meilisearch-data:/data.ms
    environment:
      - MEILI_MASTER_KEY=ms
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:7700"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend-server:
    image: ubuntu:24.04
    volumes:
      - .:/home/node/app:cached
      - backend-server-data:/data
    working_dir: /home/node/app
    command: sleep infinity
    ports:
      - 9000:9000
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    env_file:
      - .env.development
    environment:
      NODE_ENV: development
      STORE_CORS: http://localhost:8000
      ADMIN_CORS: http://localhost:8000,http://localhost:9000
      REDIS_URL: redis://redis:6379
      CACHE_REDIS_URL: redis://redis:6379
      EVENTS_REDIS_URL: redis://redis:6379
      WE_REDIS_URL: redis://redis:6379
      LOCKING_REDIS_URL: redis://redis:6379
      DATABASE_URL: postgres://medusa-starter:medusa-password@postgres:5432/medusa-starter
      POSTGRES_URL: postgres://medusa-starter:medusa-password@postgres:5432/medusa-starter
      MEDUSA_CREATE_ADMIN_USER: true
      MEDUSA_ADMIN_EMAIL: admin@medusa-test.com
      MEDUSA_ADMIN_PASSWORD: supersecret
      MEILISEARCH_HOST: http://meilisearch:7700
      MEILISEARCH_API_KEY: ms
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/health"]
      interval: 10s
      timeout: 5s
      start_period: 10s
      retries: 5

volumes:
  postgres-data:
  backend-server-data:
  cache-backend-data:
  meilisearch-data:

